@font-face {
  font-family: gilory;
  src: url(./Gilroy-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: gilroy;
  background-color: #4b000a;
  color: #fff;
}

#page1 {
  min-height: 100vh;
  width: 100%;
  padding: 50px;
  padding-top: 1px;
}

#nav {
  background-color: #4b000a;
  padding-top: 50px;
  position: sticky;
  top: 0;
  z-index: 99;
}

#nav svg {
  fill: #fff;
  scale: 0.85;
}

#image-div {
  height: 150vh;
  width: 65%;
  margin-left: 17.5%;
  margin-top: 20px;
}

video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

#page1 h4 {
  margin-top: 80px;
  text-align: center;
  font-size: 3vw;
  font-weight: 400;
  padding: 2vh 0;
}

#page1 button {
  background-color: #fff;
  color: #4b000a;
  border: none;
  font-size: 0.8vw;
  font-weight: 600;
  cursor: pointer;
  border-radius: 3px;
  padding: 2vh 3vh;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

#page2 {
  min-height: 100vh;
  width: 100%;
  padding-top: 6vw;
}

#page2 h5 {
  font-size: 2vw;
  font-weight: 400;
  text-align: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4vw;
  border-bottom: 2px solid #fff;
}

.swiper {
  width: 100%;
  height: 90vh;
  background-color: #4b000a;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #4b000a;
}

.swiper-slide img {
  display: block;
  width: 30vw;
  height: 60vh;
  object-fit: cover;
  margin-bottom: 4vh;
}

.swiper-slide h3 {
  font-size: 1.1vw;
}

.swiper-button-prev {
  margin-left: 25vw;
  color: #fff;
}

.swiper-button-next {
  margin-right: 25vw;
  color: #fff;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
}

#page3 {
  margin-top: 4vh;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

#page3 .elem {
  height: 90vh;
  width: 32%;
  position: relative;
}

#page3 img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

#page3 h4 {
  position: absolute;
  z-index: 9;
  left: 50%;
  top: 12%;
  background: linear-gradient(to right, #ffffff24, transparent);
  transform: translate(-50%, 0);
  backdrop-filter: blur(10px);
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 0.9vw;
}

#page3 h3 {
  position: absolute;
  z-index: 9;
  bottom: 20%;
  font-size: 1.9vw;
  font-weight: 400;
  left: 50%;
  transform: translate(-50%, 0);
}

#page3 button {
  position: absolute;
  bottom: 10%;
  padding: 2vh 2.4vh;
  background-color: #4b000a;
  color: #fff;
  border: none;
  font-weight: 400;
  left: 50%;
  transform: translate(-50%, 0);
}

#page4 {
  min-height: 100vh;
  width: 100%;
  padding: 5vh 8vw;
  padding-bottom: 20vh;
}

#page4 h5 {
  margin-top: 10vh;
  text-align: center;
  font-size: 1vw;
}

#center {
  margin-top: 16vh;
  display: flex;
  align-items: center;
}

#left {
  height: 100vh;
  width: 40%;
}

#left video {
  height: 100%;
  width: 100%;
}

#right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 3vh;
  margin-left: 15vw;
}

#right h2 {
  font-size: 3.2vw;
  font-weight: 400;
}

#right h3 {
  font-size: 1vw;
  font-weight: 400;
  text-align: center;
}

#right h4 {
  text-decoration: underline;
  font-weight: 400;
  font-size: 0.9vw;
  text-transform: uppercase;
}

#page5 {
  min-height: 100vh;
  width: 100%;
  background-color: #000;
  padding: 10vh;
}

#footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-bottom: 20vh;
}

.footer-elem {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  gap: 5vh;
}

.footer-elem h4 {
  font-size: 0.9vw;
  font-weight: 400;
  border-bottom: 2px solid #fff;
}

.footer-elem h4:nth-child(1) {
  color: #777;
  border: none;
}

#last-elem h4:nth-child(3) {
  color: #777;
  border: none;
}

#last-elem h4:nth-child(4) {
  border: none;
}

#last-elem h4:nth-child(6) {
  color: #777;
  border: none;
}

input {
  width: 100%;
  padding: 2vh 3vh 2vh 1vh;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #a7a7a780;
  color: #fff;
}

input:focus {
  outline: none;
  border-color: #fff;
}

#page5 svg {
  fill: #fff;
  scale: 1;
}

@media (max-width: 600px) {
  #page1 {
    padding: 0;
    padding-top: 1px;
  }

  #nav {
    height: 12vh;
    padding-top: 3vw;
  }

  #image-div {
    width: 80%;
    margin-left: 10%;
    margin-top: 0;
    height: 75vh;
  }

  #page1 h4 {
    margin-top: 5vw;
    font-size: 9.9vw;
  }

  #page1 button {
    font-size: 3.5vw;
  }

  #page2 {
    padding-top: 20vw;
  }

  #page2 h5 {
    font-size: 5.5vw;
    margin-bottom: 0;
  }

  .swiper {
    height: 60vh;
  }

  .swiper-slide img {
    height: 40vh;
    width: 70vw;
  }

  .swiper-slide h3 {
    font-size: 4vw;
  }

  .swiper-button-prev {
    margin-left: 1vw;
  }

  .swiper-button-next {
    margin-right: 1vw;
  }

  #page3 {
    margin-top: -20vw;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 2vw;
    gap: 2vw;
  }

  #page3 .elem {
    height: 80vh;
    width: 100%;
  }

  #page3 h4 {
    font-size: 3vw;
  }

  #page3 h3 {
    font-size: 5.9vw;
  }

  #page3 button {
    font-size: 3vw;
    font-weight: 600;
    padding: 2vh 8vw;
    width: 60%;
  }

  #page4 {
    padding: 0;
    padding: 3vw;
  }

  #page4 h5 {
    font-size: 5vw;
    font-weight: 400;
  }

  #center {
    margin-top: 10vh;
    flex-direction: column;
    gap: 2vh;
  }

  #left {
    width: 100%;
  }

  #right {
    margin-left: 0;
  }

  #right h2 {
    font-size: 8vw;
  }

  #right h3 {
    font-size: 4vw;
    font-weight: 400;
  }

  #right h4 {
    font-size: 3vw;
  }

  #footer {
    flex-direction: column;
    gap: 10vh;
  }

  .footer-elem h4 {
    font-size: 6vw;
  }
}
